.structFullDiv {
    @apply
    w-[100%] h-[100%] flex justify-center items-center;
}

.calendarDiv{
    @apply
    w-[80%] h-[74.2%] items-center overflow-y-scroll pt-10
}

.calendarFrame {
    @apply
    sticky top-0 w-full h-full
}

.structSmallDiv{
    display: none;
}

@media (max-width: 740px){
    .structFullDiv {
        display: none;
    }

    .structSmallDiv{
        @apply
        w-full
        h-[80%]
        flex
        flex-col
        justify-center
        items-center
        gap-5
    }

    .imgHeader {
        width: 90%;
        height: 350px; 
    }

    .imgHeader > img {
        @apply
        object-cover w-full 
    }

    .cal-footer {
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: center;
        align-items: center;
        color: #43523a;
    }

    .cal-title {
        @apply
        text-2xl 
        font-medium 
        text-center
        w-full;
    }
}