@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.fs-parraf {
    @apply
    text-sm
    pt-3
    text-justify
    ;
    padding-left: 2px;
}

@media (max-width: 1250px) {
    .queEsDansalma {
        @apply
        z-30
        relative 
        flex 
        flex-col
        pb-20
        ;
        width: 80%;
        color: #43523a;
    }

    .fs-title {
        @apply
        text-4xl 
        font-medium 
        text-start
        ;
        max-width: 90%;
        
    }
}

@media (min-width: 1251px) {
    
.queEsDansalma {
    @apply
    z-30
    relative 
    flex 
    flex-col
    pb-20
    ;
    width: 50%;
    color: #43523a;
}

.fs-title {
    @apply
    text-4xl 
    font-medium 
    text-start
    ;
    max-width: 50%;
    
}

}
