@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.headerTop {
    @apply 
    flex 
    items-center 
    fixed 
    top-0 
    w-full 
    justify-between
    z-50
}

.backdrop {
    @apply 
    absolute 
    bg-black/5 
    backdrop-blur-lg 
    rounded 
	left-[var(--left)] 
    top-[var(--top)]
	w-[var(--width)] 
    h-[var(--height)]
    transition-all 
    ease-in-out 
    opacity-0
    -z-10
    ;
    transition-duration: 400ms;
}

.main {
    @apply
    snap-y 
    snap-mandatory 
    relative 
    w-full
    h-screen 
    overflow-auto
}

.main div {
    @apply
    snap-center
}

.section {
    @apply 
    bg-white
    h-screen
    w-screen
    text-center
    relative
    flex
    justify-center
    items-center
    overflow-auto
    ;

    background-color: #f9f7ef;
    background-image: url(../../public/blobBG.svg);
    background-size: cover; /* Escala proporcionalmente y ocupa todo el section */
    background-repeat: no-repeat;
    background-position: center; /* Centra el fondo en el section */
}

@media (max-width: 1275px) and (min-width: 801px) {
    .section {
        background-image: url(../../public/blobBGmd.svg);
    }

}

@media (max-width: 800px){
    .section {
        background-image: url(../../public/blobBGsmall.svg);
    }
}
