@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.section {
    @apply 
    bg-white
    h-screen
    w-screen
    text-center
    relative
    overflow-auto
    flex
    justify-center
    items-center
    ;

    background-color: #f9f7ef;
}

.cardDiv {
    @apply
    grid
    gap-4
    w-[90%]
    ;
    grid-auto-rows: 350px;
    grid-template-columns: 
        repeat(
            auto-fit,
            minmax(150px, 10fr)
        );    
}
