@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.section {
    @apply 
    bg-white
    h-screen
    w-screen
    text-center
    relative
    flex
    justify-center
    items-center
    overflow-auto
    ;

    background-color: #f9f7ef;
}

.cardDiv {
    @apply
    grid
    gap-5
    w-[90%]
    max-h-[80%]
    ;
    grid-auto-rows: 390px;
    grid-template-columns: 
        repeat(
            auto-fit,
            minmax(200px, 1fr)
        );    
}

