.card {
    --h1-height: 3rem;
    @apply w-full h-auto rounded shadow flex flex-col items-center;
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.card:hover {
    background-color: #43523a;
}

.card img {
    width: 100%;
    height: calc(100% - var(--h1-height));
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.card:hover img {
    opacity: 0;
}

.card h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: var(--h1-height);
    background-color: #43523a;
    color: #f9f7ef;
}

.card p {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: #43523a;
    color: #f9f7ef;
    transition: .3s cubic-bezier(.6, .4, 0, 1), transform .15s ease;
    font-size: 13.5px;
    text-align: justify;
    padding: 2rem;
}

.card:hover p {
    opacity: 1;
    bottom: 0;
}