.navBar {
    @apply w-full flex px-5 py-2 items-center
}

.logo {
    @apply flex flex-grow basis-0 items-center pb-1;
    font-family: 'Tangerine', cursive;
    font-weight: 700;
    font-size: 45px;
    color: #43523a;
}

.links {
    display: flex;
    font-size: 16px;
    font-weight: 600;
    color: #43523a;
}

.links li a {
    @apply inline-block px-4;
}


.sessionBtn {
    @apply flex flex-grow justify-end basis-0
}

.cssbuttons-io-button {
    background: #43523a;
    color: white;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 14px;
    border-radius: 9999px;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
    background: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2rem;
    width: 2rem;
    right: 2%;
    border-radius: 9999px;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.55rem);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #43523a;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

@media (max-width: 1250px) {

    .navBar {
        display: none;
    }

}