---
import Layout from '../layouts/Layout.astro';
import TopBar from '../components/topBar.astro';
import FirstSection from '../components/firstSection.astro';
import ServiceSection from '../components/serviceSection.astro';
import Diary from '../components/calendar.astro';
import AboutMe from '../components/aboutMe.astro';
import Media from '../components/media.astro';
import Contact from '../components/contact.astro';
import "../styles/index.css"
---

<!-- Función para controlar el backdrop del topBar -->
<script src="../components/backdrop.js"></script>

<!-- Función para controlar el autoScroll de la topBar -->
<script src="../components/onePageScroll.js"></script>

<Layout title="Dansalma">
	<header class="headerTop" id="landing-header">
		<TopBar/>
		<div id="menu-backdrop" class="backdrop"></div>
	</header>
	<main class="main overflow-x-hidden">
		<div id="seccion1">
			<FirstSection />
		</div>
		<div id="seccion2">
			<ServiceSection />
		</div>
		<div id="seccion3">
			<Diary />
		</div>
		<div id="seccion4">
			<AboutMe />
		</div>
		<div id="seccion5">
			<Media />
		</div>
		<div id="seccion6">
			<Contact />
		</div>
	</main>
</Layout>

