---
import Layout from '../layouts/Layout.astro';
import TopBar from '../components/topBar';
---
<Layout title="Dansalma">
	<main>
		<header class="py-6 px-10 flex items-center fixed top-0 w-full justify-between">
			<TopBar/>
		</header>
	</main>
</Layout>

