---
import Layout from '../layouts/Layout.astro';
import TopBar from '../components/topBar.astro';
import FirstSection from '../components/firstSection.astro';
import ServiceSection from '../components/serviceSection.astro';
import AboutMe from '../components/aboutMe.astro';
import "../styles/index.css"
---

<!-- Función para controlar el backdrop del topBar -->
<script src="../components/backdrop.js"></script>

<Layout title="Dansalma">
	<header class="headerTop" id="landing-header">
		<TopBar/>
		<div id="menu-backdrop" class="backdrop"></div>
	</header>
	<main class="main">
		<div>
			<FirstSection />
		</div>
		<div>
			<ServiceSection />
		</div>
		<div>
			<FirstSection />
		</div>
		<div>
			<AboutMe />
		</div>
		<div>
			<FirstSection />
		</div>
		<div>
			<FirstSection />
		</div>
	</main>
</Layout>

