---
import "../styles/calendar.css";
---

<section class="section flex justify-center items-center">
    <div class="structFullDiv">
        <div class="calendarDiv">
            <iframe class="calendarFrame" src="https://embed.styledcalendar.com/#U26lcNFKC2Fz889HvcPp" title="Styled Calendar" class="styled-calendar-container" style="width: 100%; border: none;" data-cy="calendar-embed-iframe"></iframe>
        </div>
    </div>
    <div class="structSmallDiv">
        <header class="imgHeader">
            <img src="../../public/calendarPhone.png" alt="">
        </header>
        <footer class="cal-footer">
            <h1 class="cal-title ">
                Consulta en nuestro calendario los proximos eventos
            </h1>
            <button class="btn"><a class="w-full h-full" href="https://workspace.google.com/products/calendar/?hl=es" target="_blank">Ver Calendrio</a></button>
        </footer>
    </div>
    <script async type="module" src="https://embed.styledcalendar.com/assets/parent-window.js"></script>
</section>