---
import "../styles/contact.css"
---

<section class="section">
        <div class="form-container">
            <form class="ct-form">
                <div class="head">
                    <span>Contacta conmigo</span>
                    <p style="font-style: italic;">'It is a long established fact that a reader will be'</p>
                </div>
                <div class="inputs">
                    <input type="text" placeholder="Nombre Completo" required="">
                    <input type="email" placeholder="Email" required="">
                    <input type="tel" placeholder="Número de teléfono" required="">
                    <textarea class="textMessage" id="message" name="message" placeholder="¿Porque nos contactas?" required=""></textarea>
                </div>
                <button class="ct-btn">Enviar</button>
            </form>    
        </div>    
</section>


