---
import "../styles/contact.css"
---

<section class="section">
    <div class="body z-20">
        <div class="container">
            <form>
                <div class="head">
                    <span>Contacta conmigo</span>
                    <p style="font-style: italic;">'It is a long established fact that a reader will be'</p>
                </div>
                <div class="inputs">
                    <input type="text" placeholder="Nombre Completo">
                    <input type="email" placeholder="Email">
                    <input type="tel" placeholder="Número de teléfono">
                    <textarea class="textMessage" id="message" name="message" placeholder="¿Porque nos contactas?" required=""></textarea>
                </div>
                <button>Enviar</button>
            </form>    
        </div>    
    </div>
</section>


