---
import "../styles/firstSection.css"
import bkground from "../../public/background.png"
---

<section class="section">
    <div class="queEsDansalma">
        <h1 class="title">
            ¿Qué es Dansalma?
        </h1>
        <p class="parraf">
            It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here
        </p>
    </div>
</section>