---
import "../styles/serviceCards.css"
const { image, alt, title, description } = Astro.props;
---

<!-- Card.astro -->
<div class="cardDiv">
  <div class="card">
    <img src={image} alt={alt} />
    <strong>{title}</strong>
    <span>{description}</span>
  </div>  
</div>
