---
import "../styles/topBar.css";
import "../styles/topBarSmall.css";
---

<script src="../components/navBar.js"></script>

<nav class="navBar">
    <div class="logo">
        <a href="#">Dansalma</a>
    </div>

  <ul class="links">
        <li><a href="#seccion1">Inicio</a></li>
        <li><a href="#seccion2">Servicios</a></li>
        <li><a href="#seccion3">Agenda</a></li>
        <li><a href="#seccion4">Sobre Mi</a></li>
        <li><a href="#seccion5">Media</a></li>
        <li><a href="#seccion6">Contacto</a></li>
  </ul>

    <a target="_blank" href="https://forms.gle/ctGZCcCnjqWa5rM59" class="sessionBtn">
        <button class="cssbuttons-io-button">
        Apuntate a una sesión
        <div class="icon">
            <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="2rem"
            height="1.5rem"
            >
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path
                    fill="currentColor"
                    d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                ></path>
            </svg>
        </div>
        </button>
    </a>
</nav>

<nav class="navBarSmall">
    <div class="logo">
        <a href="#">Dansalma</a>
    </div>
    
    <button class="z-10" id="button">
        <svg class="topBar-svg" viewBox="0 0 32 32" id="trigger">
            <path
            class="line line-top-bottom"
            d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"
            ></path>
            <path class="line" d="M7 16 27 16"></path>
        </svg>
    </button>

    <div class="links-small" id="hiddenMenu">
        <a href="#seccion1">Inicio</a>
        <a href="#seccion2">Servicios</a>
        <a href="#seccion3">Agenda</a>
        <a href="#seccion4">Sobre Mi</a>
        <a href="#seccion5">Media</a>
        <a href="#seccion6">Contacto</a>
    </div>
</nav>
